@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@custom-variant dark (&:where(.dark, .dark *));



@theme {


    --color-azul-cope: #013d7b;
    --color-verde-cope: #5aba03;
    --color-gris-cope: #EDEDED;

}